<html>
<head>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<script type="text/javascript" charset="utf8" src="./jquery.js"></script>
	<script type="text/javascript" charset="utf8" src="./jquery.dataTables.min.js"></script>
	<script type="text/JavaScript" src="./require.js" data-main="client"></script>
	<div class="contentContainer">
		<div class="searchContainer">
			<input type='text' class='searchBox' placeholder="Search">
			<div class="searchButton">Search</div>
		</div>
		<div class="navigation">
			<div class="prev">Previous</div>
			<div class="next">Next</div>
			<div class="status"></div>
		</div>
		<table class="display twitterDataTable"></table>
		<div class="navigation">
			<div class="prev">Previous</div>
			<div class="next">Next</div>
			<div class="status"></div>
		</div>
	</div>
</body>
</html>
